@model SicWEB.Models.CitacaoCarta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CitacaoCarta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vara)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vara)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comarca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oab)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oab)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
