@model SicWEB.Models.JuntadaTermoCessao
@{
  Layout = "_Layout2";
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Conversao Execucao - SicWEB</title>
  <!-- MDB icon -->
  <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="~/css/StyleSheet.css">
  <style>
    html {
      font-size: 20px;
    }
  </style>
</head>

<body>
  <div class="d-flex justify-content-center">
    <div id="footer_wrapper">
      <div id="footer_content" class="text-center" style="font-size:xx-small">
        Endereço: Av. Duque de Caxias, 882, Bairro: Zona 01 - CEP 87.013-180, 12º ANDAR – SL 1201<br />
        Ed. New Tower Plaza – Torre II– Maringá - PR   - Fone: (44) 3033-9291 / (44) 2103-9291
      </div>
    </div>
  </div>

  <TABLE>

    <THEAD>
      <TR>
        <TH>&emsp;&emsp;&emsp;&emsp;&emsp;</TH>
        <TH><br /><img src="~/img/logo.png" class="rounded mx-auto d-block mb-3" style="width: 40%"><hr /></TH>
        <TH>&emsp;&emsp;&emsp;&emsp;&emsp;</TH>
      </TR>
    </THEAD>

    <TBODY>
      <TR>
        <TD></TD>
        <TD>
          <p class="text-justify font-weight-bold mb-4 mt-3">
            EXCELENTÍSSIMO SENHOR DOUTOR JUIZ DE DIREITO DA @Html.DisplayFor(model => model.Vara) DA COMARCA DE
            @Html.DisplayFor(model => model.Comarca) – ESTADO DE @Html.DisplayFor(model => model.Estado)
          </p>

          <p class="font-weight-bold mb-5">
            Autos n.º @Html.DisplayFor(model => model.Autos)
            <br />
            Contrato nº @Html.DisplayFor(model => model.Contrato)
          </p>

          <p class="text-justify mt-3 mb-3">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <strong>@Html.DisplayFor(model => model.Banco)</strong>, já qualificado, conforme procuração anexa, vem, nos autos em
            epígrafe, que <strong>@Html.DisplayFor(model => model.BancoCedente)</strong> litiga contra
            <strong>@Html.DisplayFor(model => model.Reu)</strong>, já também devidamente qualificada, vem, por seu procurador signatário,
            respeitosamente, à Douta presença de Vossa Excelência, em atendimento ao despacho retro, <strong>REQUERER</strong> a juntada
            do comprovante da cessão do crédito, decorrente do contrato objeto da lide.
          </p>

          <p class="text-justify mt-3 mb-5">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            Diante deste fato, pugna a parte autora a admissão no polo ativo destes autos, como cessionária o
            <strong>@Html.DisplayFor(model => model.Banco)</strong>, nos termos do artigo 567 II, do Código de Processo Civil,
            bem como sejam procedidas todas as anotações de estilo o cartório distribuidor e na autuação do feito, nos termos de
            <u>termo de cessão específico acostado ao final.</u>
          </p>

          <p class="text-justify mt-3 mb-5">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            Caso não seja o entendimento deste D. Juízo, requer de forma subsidiaria, que
            <strong>@Html.DisplayFor(model => model.Banco)</strong>, figure como assistente litisconsorcial, com base no artigo 109,
            § 2ª, do CPC.
          </p>

          <p class="text-justify mt-3 mb-5">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            In fine, requer que todas as intimações se deem na forma prevista nos artigos 272 e 273 do NCPC, para que sejam publicadas 
            apenas em nome da <strong>Dra. CRISTIANE BELLINATI GARCIA LOPES, @Html.DisplayFor(model => model.Banco)</strong>, sob pena 
            de nulidade da intimação, conforme previsto no artigo 280 do CPC.
          </p>

          <p class="text-justify mt-3 mb-5">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            Nestes termos.<br />
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            Pede e espera deferimento.<br />
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            Maringá, @Html.DisplayFor(model => model.Data).
          </p>

          <p class="text-center font-weight-bold mt-5">
            CRISTIANE BELINATI GARCIA LOPES<br />
            @Html.DisplayFor(model => model.Oab)
          </p>

        </TD>
        <TD></TD>
      </TR>
    </TBODY>

    <TFOOT id="table_footer">
      <TR>
        <TH><br /><br /><br /></TH>
        <TH><br /><br /><br /></TH>
      </TR>
    </TFOOT>

  </TABLE>

  <script>
    window.print();
    window.onafterprint = function () {
      window.close();
    }
  </script>

</body>
</html>